@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
    display: flex;
    flex-direction:row;
    align-content: center;
}

.header{
    background-image: url('./background1.jpg');
    background-size:cover;
    font-family: 'Righteous', cursive;
    color: black;
    width: calc(100%/3);
    height: 100vh;
    align-content: center;
    align-items: center;

}


.header .sidebar {
    display: flex;
    position: relative;
    top: 25%;
    margin: auto;
    height: 10em;
    width: 100%;
    background-color: rgb(0,0,0,0.5);
    align-items: center;
    justify-content: center;
}

.header .sidebar > h1{
    color: white;
    font-size: 2em;
}

.header .sidebar > h1:hover{
    transition: ease-in-out, 1s;
    color: blue;
    transform: scale(0.9);
}

.header > p{
    position: absolute;
    color: rgb(255,255,255);
    width: calc(100%/3);
    font-size: 1em;
    bottom: 1em;
    left: 1em;
    text-shadow:2px 2px 1px rgb(0,0,0);
}

.header > p:hover {
    transition: step-end, 1s;
    color: black;
}


.header .sidebar .logo {
    font-size: 1em;
    height: 20vh;
    opacity: 1.5;
    margin-right: 1em;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(190deg) brightness(101%) contrast(103%);
}

.form {
    background-color: aliceblue;
    height: auto;
    width: calc((100%/3)*2);
    margin: auto;
}